* {
    margin: 0;
    padding: 0;
}

header, footer, aside, article, section, nav {
    border: solid 1px red;
}

header {
    background-color: orange;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 10vw;
    height: auto;
    margin: 1% 5%;
}

nav {
    background-color: yellow;
    display: flex;
    margin-left: auto;
    height: auto;
    width: auto;
    flex-direction: row;
}

nav > ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0 20px;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.lateral {
    background-color: white;
    display: flex;
    text-align: center;
    background-image: url("./img/transferir\ \(3\).jpg");
    background-size: cover;
}

.goku {
    width: 100%;
    height: auto;
}

.central {
    grid-column: 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p {
    opacity: 0.8;
}